
snippet u "Url"
[${1}][${2}]${0}
endsnippet

snippet i "Italic"
*${1}*${0}
endsnippet

snippet b "bold"
**${1}**${0}
endsnippet

snippet k "code"
\`${1}\`${0}
endsnippet

snippet c "code"
\`${1}\`${0}
endsnippet

