extends javascript

priority -50


snippet i
import { $1 } from '$2';$0
endsnippet


snippet ctr
public constructor() {
}
endsnippet


snippet pub
public $1($2)$3 {
	$0
}

endsnippet


snippet I
@Input()
public $1: $2;$0
endsnippet


snippet O
@Output()
public $1: $2;$0
endsnippet

